body{
	background:rgba(240, 240, 240, 0.945);
	font-family: 'Space Grotesk', sans-serif;
}

.container{
	max-width: 400px;
}

.agregar{
	display: flex;
	justify-content: end;
	padding: 30px;
}

.col{
	display: flex;
	padding: 10px;
	justify-content: center;
}
section{
	background: rgba(245, 245, 245, 0.945);
	box-shadow: 4px 80px 30px #dddddd;
	max-width: 400px;
	height: calc(100vh - 70px);
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
}

#cerrarDetalle{
	padding: 10px;
	margin: 10px;
	border: 1px solid #111;
	background:  rgb(150, 5, 153);
	background: linear-gradient(135deg,  rgb(220, 240, 0) 20%, rgb(245, 225, 0) 50%);

}


#cerrarDetalle:hover{
	background: none;

}


h1{
	font-weight: 600;
}

.modal_container{
	display: flex inline;
	padding: 20px;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 40vh;
	box-shadow: 10px 20px 30px #dddddd;
}

.scroll{
	overflow-y: scroll;
	max-height: 300px;
}
.form-label{
	color:rgba(149, 149, 149, 0.945);
}

.carita{
	opacity: 5%;	
}

header{
	display: flex;
	justify-content: space-between;
	height: 70px;
	width: 100%;
	background: rgba(245, 245, 245, 0.945);
	display: flex;
	color: rgb(53, 53, 53);
	align-items: center;
	padding: 10px;
}

button{
	border: none;
	background: none;
}
.btn{
	background: rgb(53, 53, 53);
	border: none;
	width: 276px;
}

.btn:hover{
	background: rgb(29, 29, 29);
	border: none;
}



.add, .fav{
	background:  rgb(150, 5, 153);
	background: linear-gradient(135deg,  rgb(220, 240, 0) 20%, rgb(245, 225, 0) 50%);
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: absolute;
	box-shadow: 10px 10px 50px #dddddd;
}

.add:hover, .fav:hover{
	background:  rgb(150, 5, 153);
	background: linear-gradient(135deg,  rgb(234, 255, 3) 20%, rgb(255, 235, 16) 50%);
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position:fixed;
	box-shadow: 10px 10px 50px #dddddd;
}


span{
	font-size: 20px;
}

.list-group-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.list-group-item img{
	width: 40px;
	height: 40px;
}



#pantallaFormulario, #pantallaListado, #pantallaDetalle{
	display: none;
}